*{padding:0px;margin:0px;}
.todo{
    width:100%;
    display: block;
    background-color:#f2f2f2;
    float: left;
}
.some{
    display: block;
}
#btnAumentar{
    font-size: 25px;
    cursor: pointer;
    float: left;
}
#btnDiminuir{
    font-size: 25px;
    cursor: pointer;
    float: left;
    padding-left:2px;
    padding-right:2px;
    
}
#dislexia{
    font-size: 25px;
    cursor: pointer;
    float: left;
    padding-left:6px;
    padding-right:6px;
}
#normal{
    font-size: 25px;
    cursor: pointer;
    float: right;
    padding-left:6px;
    padding-right:6px;
}
.normal{
    font-family: arial;
}
.tdis{
    font-family:OpenDyslexic;
}
header {
    height:150px;
    width:100%;
    background-color: #292929;
    display: block;
    float: left;}
nav{
    height:40px;
    width:100%;
    display: block;
    float:left;
    display: block;
    background-color: #ffa500;
    box-shadow: #292929 0px  0px 10px;
}
.ace{
    float: right;
    height:40px;
    padding-top: 8px;
    display: block;
    position: inherit;
    margin-left:150px;
}
.ace.some:hover{
    display: block;
}
.right{
    float: right;
}
header ul{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
}
header ul li{
    font-size:20px;
    float: left;
    padding:9px 2px 8px 10px;
    padding-bottom: 5px;
}
main div{
    width: 95%;
    height: 40px;
    margin-left: 2.5%;
    display: block;
    float: left;
    background-color: #ffa500;
    margin-top: 10px;
    box-shadow:-3px -3px 5px 0px ;
    border: #292929 solid 1px;
}
header img{
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.meio-hr{
    margin-bottom:10px;
    font-size:20px;
    text-align: center;
}
main{
    width: 100%;
    padding-bottom: 150%;
    float: left;
    display: block;
    margin-top:36px;

}
article{
    height: 1500px;
    width: 70%;
    display: block;
    float: left;
    margin-left: 15%;
}
.margin{
    margin-top: 25px;
}
h1{
    font-size:45px;
    margin-top:0px;
    color: #292929;
    text-align: center;
    padding-top: 10px;
}
h2{
    font-size:18px;
    color:#4d4d4d;
    text-align: center;
    padding-top: 10px;
    margin-bottom:10px;
}
main ul{
    text-align: center;
}
.tdah-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:100%;
}
article section{
    width: 96%;
    margin-left:4%;
}
section p{
    font-size:18px;
    margin-top: 20px;
    line-height:27.5px;
}

.lista-array{
    font-size:18px;
    margin-top: 20px;
    line-height:27.5px;
    margin-left: 70px;
}
.lista-array li{
    float: left;
}
.subtitulo{
    font-size: 23px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
footer{
    float: left;
    display: block;
    height: 150px;
    width:100%;
    background-color: #292929;
    box-shadow:0px 10px 20px 20px;
}
.logofooter{
    margin-left:auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    height:90%;
}
.logos{
    height:20%;
    width:10%;
    float: right;
    display: block;
    margin-top:-36px;
}
.logos img{
    float: left;
    width:30%;
    height: auto;
    margin-left:3%;
}
.lado{
    position: fixed ;
    width:60px;
    height:210px;
    margin-top: 50px;
    margin-left:-50px;
}
.lado li{
    height:100%;
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Bold.woff2') format('woff2'),
        url('./font/OpenDyslexic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
        url('./font/OpenDyslexic-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Bold.woff2') format('woff2'),
        url('./font/OpenDyslexic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Bold.woff2') format('woff2'),
        url('./font/OpenDyslexic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
        url('./font/OpenDyslexic-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Italic.woff2') format('woff2'),
        url('./font/OpenDyslexic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Italic.woff2') format('woff2'),
        url('./font/OpenDyslexic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Italic.woff2') format('woff2'),
        url('./font/OpenDyslexic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
        url('./font/OpenDyslexic-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Regular.woff2') format('woff2'),
        url('./font/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Regular.woff2') format('woff2'),
        url('./font/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./font/OpenDyslexic-Regular.woff2') format('woff2'),
        url('./font/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}